body {
    margin: 0;
    padding: 0;
    background-color: black;
}
img {
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    justify-content: start;
    background-color: black;
}

.grid-item-1 {
    position: relative;
    image-rendering: auto;
}

.grid-item-2 {
    position: relative;
    image-rendering: pixelated;
}

.grid-item-3 {
    position: relative;
    filter: hue-rotate(180deg) grayscale(80%);
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: .05s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
}
.grid-item-1:hover .overlay {
    opacity: 1;
}
.grid-item-2:hover .overlay {
    opacity: 1;
}
.grid-item-3:hover .overlay {
    opacity: 1;
}


.grid-item-4 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    grid-column: 5 / 7;
}